.instruction {
  width: 20rem;
  font-size: 14px;
  font-family: "Inconsolata";
}

.up,
.down {
  color: green;
  font-weight: 600;
  letter-spacing: 1;
  font-size: 1rem;
}

.left,
.right {
  color: orangered;
  font-weight: 600;
  letter-spacing: 1;
  font-size: 1rem;
}

.power-of-2 {
  color: rgb(228, 13, 85);
}
