@media screen and (max-width: 1400px) {
  .scoreboard {
    padding-top: 1rem;
    gap: 1rem;
  }

  .card {
    font-size: 28px;
  }
}

@media screen and (max-width: 375px) {
  .scoreboard {
    padding-top: 8px;
    gap: 8px;
  }

  .card {
    font-size: 20px;
  }
}

@media screen and (max-width: 295px) {
  .scoreboard {
    padding-top: 8px;
    gap: 2px;
  }

  .card {
    font-size: 16px;
  }
}

.scorecard {
  width: fit-content;
  height: 0;
  padding: 2px;
  background-color: #444;
  gap: 2px;
}

.card {
  background-color: #000;
  width: fit-content;
  padding: 2px;
}

.card-label::first-letter {
  text-transform: uppercase;
}

.new-game {
  padding: 3px 5px;
  border-radius: 4px;
  background-color: azure;
  color: crimson;
  border: 1px solid crimson;
  margin-top: -20px;
  margin-left: 20px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-c {
  flex-direction: column;
}

.gap-8 {
  gap: 8px;
}

.score,
.moves {
  color: whitesmoke;
}

.best,
.best-moves {
  color: blue;
  background-color: #ddd;
}
