@media screen and (max-width: 1400px) {
  .scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .card {
    font-size: 28px;
  }
}

@media screen and (max-width: 375px) {
  .scoreboard {
    gap: 8px;
  }

  .card {
    font-size: 20px;
  }
}

@media screen and (max-width: 295px) {
  .scoreboard {
    padding-top: 8px;
    gap: 2px;
  }

  .card {
    font-size: 16px;
  }
}

.scoreboard {
  font-family: "Inconsolata";
}

.scorecard {
  gap: 1px;
}

.card {
  background-color: #000;
  width: fit-content;
  padding: 2px;
}

.card-label::first-letter {
  text-transform: uppercase;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-c {
  flex-direction: column;
}

.gap-8 {
  gap: 8px;
}

.score,
.moves {
  color: whitesmoke;
}

.best,
.boves {
  color: blue;
  background-color: #ddd;
}
